$bg-color: #f9fafc;
$main-color: #12121c;
$accent-color: #5f6078;
$summary-color: #2d2e46;
$element-color: #137547;
$btn-main-text-color: #fff;
$btn-accent-bg-color: #fff;
$btn-border-color: #0f5e39;
$btn-border-accent-color: #eaeaea;
$fs14: 14px;
