@import '/src/styles/variables';

.footer_bottom_section {
	height: 46px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-top: 1px solid $border-accent-color;

	> p {
		font-weight: 400;
		font-size: 14px;
		line-height: 157%;
		color: $accent-color;
	}

	> nav {
		display: flex;
		column-gap: 16px;
	}
}
